# Node & Frontend
node_modules/
dist/
unpackage/
.temp/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Local databases & Cache
backend/data/
data/chroma_db/
*.log

# Sensitive environment variables
.env

# Editor & OS files
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
.vscode/*
!.vscode/settings.json
.idea/

# Media Kit binary audio/video output
media_kit/*.mp4
media_kit/*.wav
media_kit/*.mp3
media_kit/audio_segments/
